<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @mission.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @mission.country %>
</p>

<p>
  <strong>Mission date:</strong>
  <%= @mission.mission_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @mission.user %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
